<% include partials/header %>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome To ShareWithUs!</h1>
                <p>Share your Knowledge by Hosting or Attending a Workshop near you </p>
                <p>
                    <a class="btn btn-primary btn-large" href="/workshops/new">Add Your Workshop</a>
                </p>
                <!-- <p>The below are some of the available workshops nearby </p> -->
            </div>
        </header>
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% workshops.forEach(function(workshop){ %>
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= workshop.image %>">
                        <div class="caption">
                            <h4>
                                <%= workshop.name %>
                            </h4>                        
                        </div>
                    <p><a href="/workshops/<%=workshop._id  %>">More Info</a> </p>    
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <% include partials/footer %>