<% include partials/header %>
<h1>Add your Workshop</h1>

<form method="POST" action="/workshops">
<input type ="text" name="name" placeholder="Name" >
<input type ="text" name="image" placeholder="Image URL" >
<input type="submit">
</form>

<% include partials/footer %>