<h1>This is the workshops page </h1>

<% workshops.forEach(function(workshop){ %>
    <div>
        <h3><%=workshop.name %></h3>
    
        <img src= "<%= workshop.image %>" alt="Couldn't load image">

    </div>
<% }) %>